<!--@subject Đăng ký nhận bản tin thành công @-->

<style type="text/css">
body,td { color:#2f2f2f; font:12px/1.35em Verdana, Verdana, Helvetica, sans-serif; }
</style>

<body style="background:#ECECEC; font-family:Verdana, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ECECEC;font:12px/1.35em Verdana, Helvetica, sans-serif;margin:0; padding:0;">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
			<td align="center" valign="top" style="padding:20px 0 20px 0;">
        <!-- [ header starts here] -->
				<table cellspacing="0" cellpadding="15" border="0" width="650" bgcolor="#FFFFFF" style="border:1px solid #E6E7E9;">
					<tr>
						<td valign="top" style="padding:20px 15px;"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.png" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="" border="0"/></a></td>
					</tr>
                <!-- [ middle starts here] -->
                
                    <tr>
                        <td valign="top" style="padding:15px;">
                          <h1 style="font-size:18px; font-weight:normal; line-height:18px; margin:0 0 17px 0;color:#000;">Chào  quý khách,<span lang="EN-US"> </span></h1>
                            <p>Quý  khách đã đăng ký dịch vụ nhận bản tin của CANIFA thành công.</p>
                            <p>CANIFA  sẽ gửi tới quý khách thông tin về sản phẩm mới, bộ sưu tập mới và những chương  trình Khuyến mại hấp dẫn qua email này.</p>
                            <p>Rất  xin lỗi nếu email này làm phiền quý khách!</p>
                            <p>Cảm  ơn quý khách đã sử dụng dịch vụ online của CANIFA.</p>
                            <p> </p>
                            <p><strong><u>Mọi  chi tiết xin liên hệ: </u></strong></p>
                            <p>Chăm  sóc khách hàng: 04 35772870 /71 máy lẻ 100</p>
                            <p><span lang="EN-US">Hotline: 0904 895 502</span></p>
                          <p><span lang="EN-US">Email: <a href="mailto:chamsockhachhang@canifa.vn" target="_blank">chamsockhachhang@canifa.vn</a></span></p>
                        <span lang="EN-US">Web: <a href="http://www.canifa.com" target="_blank">www.canifa.com</a></span></td>
                    </tr>
					<tr>
						<td style="padding:15px; border-top:1px solid #ccc;">
							<p style="font-size:12px; color:#000;margin:0 0 15px;">Trân trọng cảm ơn!</p>
							<p style="font-size:11px; color:#666;margin:0;"><strong>Canifa</strong></p>
						</td>
					</tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
