<?xml version="1.0"?>
<config>
    <modules>
        <Dtn_Fazsion>
            <version>0.0.1</version>
        </Dtn_Fazsion>
    </modules>
    <global>
        <models>
            <dtn_fazsion>
                <class>Dtn_Fazsion_Model</class>
                <resourceModel>dtn_fazsion_resource</resourceModel>
            </dtn_fazsion>
            <dtn_fazsion_resource>
                <class>Dtn_Fazsion_Model_Resource</class>
            </dtn_fazsion_resource>
        </models>
        <resources>
            <fazsion_setup>
                <setup>
                    <module>Dtn_Fazsion</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fazsion_setup>
            <fazsion_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fazsion_write>
            <fazsion_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fazsion_read>
        </resources>
    </global>
</config>